<!DOCTYPE html>
<html>
<head>
    <title>Konfirmasi Pembayaran Diterima</title>
</head>
<body>
    <h3 style="color:black;">Halo {{ name }},</h3>
    <div style="color:black;">
        Selamat, Anda telah bergabung dengan Pomad Virtual Run 2021!<br><br>
        Detail login Deos dan status kepesertaan event adalah sebagai berikut :<br><br>
        Email :  <b>{{ email }}</b> <br>
        Password : <b>Sesuai password Anda</b>
        <br><br>
        Kepesertaan Event : <b>Aktif</b> <br>
        Status Pembayaran : <b>Terbayar</b>
        <br><br>
        Jika Anda mengalami kesulitan dengan aplikasi kami, silahkan hubungi <b>help@deossport.com</b><br>
        Follow Instagram kami <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a> untuk mendapat informasi event olah raga terbaru.
        <br><br>
        Terima kasih<br>
        <b>Deos Sport</b>
    </div>
    <br>
    _______________________________________________________
    <br><br>
    <h3 style="color:black;">Hello {{ name }},</h3>
    <div style="color:black;">
        Congratulation! You are now officially joining Pomad Virtual Run 2021.<br><br>
        The following is your Deos login and event membership details:<br><br>
        Email :  <b>{{ email }}</b> <br>
        Password : <b>As your inputed password</b>
        <br><br>
        Event Membership: <b>Active</b> <br>
        Payment Status: <b>Paid</b>
        <br><br>
        If you have any difficulties with our app, please contact <b>help@deossport.com</b><br>
        Follow our Instagram <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a> to get latest sport events updates.
        <br><br>
        Thank you!<br>
        <b>Deos Sport</b>
    </div>
</body>
</html>