<!DOCTYPE html>
<html>

<head>
    <title>Event {{event.name}} | {{event.group}}</title>
</head>

<body>
    <div>
        [{{when}}] {{event.name}}
        <br>
        <br>
        <div>Halo,</div>
        <br>
        <div>Terima kasih sudah mendaftar {{event.name}} yang akan diadakan pada:</div>
        <br>
        <table>
            <tr>
                <td>Mulai</td>
                <td>:</td>
                <td>{{event.start}}</td>
            </tr>
            <tr>
                <td>Selesai</td>
                <td>:</td>
                <td>{{event.end}}</td>
            </tr>
        </table>
        <br>
        <div>Happy Running!!</div>
        <div>Poltekpar Palembang</div>
    </div>
</body>

</html>