<!DOCTYPE html>
<html>
<head>
    <title>Ubah Kata Sandi Berhasil</title>
</head>
<body>
<div>
    <h3>Dear {{ name }},</h3>
    <p>You can now login with your account.</p>
    <p>Here is your password: <b>{{ password }}</b></p>
    <p>And You can change your password in setting / profile menu</p>
    <div>
        Cheers!
    </div>
</div>
</body>
</html>