<!DOCTYPE html>
<html>
<head>
    <title>Join Event Berhasil</title>
</head>
<body>
    <h3 style="color:black;">Halo {{ name }},</h3>
    <div style="color:black;">
        Terima kasih atas ketertarikan Anda bergabung dengan Pomad Virtual Run 2021.
        <br><br>
        Berikut adalah detail status kepesertaan Anda :<br>
        Kepesertaan Event : <b>Belum aktif</b>
        <br>
        Status Pembayaran : <b>Belum terbayar</b>
        <br><br>
        Silahkan lakukan pembayaran biaya pendaftaran sejumlah tepat <b>{{nominal_unique}}</b> (termasuk kode unik) ke rekening : <br><br>
        Bank Mandiri<br>
        No. Rekening : <b>006-009-0034-095</b><br>
        Atas Nama <b>PT Bisa Indonesia Sejahtera</b>
        <br><br>
        Kemudian upload bukti transfer Anda melalui link berikut : <br>
        <b><a href='https://pomad2021.deossport.com/konfirmasi.html'>{{link}}</a></b>
        <br><br>
        Penting :<br> 
        Pastikan alamat yang anda input sudah tepat, karena akan digunakan untuk pengiriman merchandise.<br>
        Jika Anda mengalami kesulitan dengan aplikasi kami, silahkan hubungi <b>help@deossport.com</b>.<br>
        Follow Instagram kami <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a> untuk mendapat informasi event olah raga terbaru.
        <br><br>
        Salam Olah Raga!<br>
        <b>Deos Sport</b>
    </div>
    <br>
    _______________________________________________________
    <br><br>
    <h3 style="color:black;">Hello {{ name }},</h3>
    <div style="color:black;">
        Thank you for your interest in joining Pomad Virtual Run 2021.
        <br><br>
        The following is your event membership status: <br>
        Event Membership: <b>Inactive</b>
        <br>
        Payment Status: <b>Waiting for payment</b>
        <br><br>
        Please pay registration fee with total amount exactly IDR <b>{{nominal_unique}}</b> (including unique code) to the following bank account: <br><br>
        Bank Mandiri<br>
        Account Number: <b>006-009-0034-095</b><br>
        Account Name: <b>PT Bisa Indonesia Sejahtera</b>
        <br><br>
        Upon completion of your payment, please upload proof of payment by visiting this link: <br>
        <b><a href='https://pomad2021.deossport.com/konfirmasi.html'>{{link}}</a></b>
        <br><br>
        Important:<br> 
        Please ensure your address in your profile data has been correctly input for receiving the merchandise.<br>
        If you have any difficulties with our app, please contact <b>help@deossport.com</b>.<br>
        Follow our Instagram <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a> to get latest sport events updates.
        <br><br>
        Cheers!<br>
        <b>Deos Sport</b>
    </div>
</body>
</html>