<!DOCTYPE html>
<html>
<head>
    <title>Join Event Berhasil</title>
</head>
<body>
    <h3 style="color:black;">Halo {{ name }},</h3>
    <div style="color:black;">
        Terima kasih atas ketertarikan Anda bergabung dengan Pomad Virtual Run 2021.
        <br><br>
        Penting :<br> 
        Pastikan alamat yang anda input sudah tepat, karena akan digunakan untuk pengiriman merchandise.<br>
        Jika Anda mengalami kesulitan dengan aplikasi kami, silahkan hubungi <b>help@deossport.com</b>.<br>
        Follow Instagram kami <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a> untuk mendapat informasi event olah raga terbaru.
        <br><br>
        Salam Olah Raga!<br>
        <b>Deos Sport</b>
    </div>
    <br>
    _______________________________________________________
    <br><br>
    <h3 style="color:black;">Hello {{ name }},</h3>
    <div style="color:black;">
        Thank you for your interest in joining Pomad Virtual Run 2021.
        <br><br>
        Important:<br> 
        Please ensure your address in your profile data has been correctly input for receiving the merchandise.<br>
        If you have any difficulties with our app, please contact <b>help@deossport.com</b>.<br>
        Follow our Instagram <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a> to get latest sport events updates.
        <br><br>
        Cheers!<br>
        <b>Deos Sport</b>
    </div>
</body>
</html>