<!DOCTYPE html>
<html>
<head>
    <title>Reschedule Event Berhasil</title>
</head>
<body>
    <h3 style="color:black;">Dear {{ name }},</h3>
    <div style="color:black;">
        Jarak tempuh dan Durasi Anda di Aplikasi Deos Virtual Run untuk <b>{{ event_name }}</b> sudah kami reset. Silakan mulai berlari lagi.
        <br><br>
        <b>Terima kasih</b>
    </div>
    
</body>
</html>