<!DOCTYPE html>
<html>
<head>
    <title>Pendaftaran Berhasil</title>
</head>
<body>
    <h3 style="color:black;">Halo {{ name }},</h3>
    <div style="color:black;">
        Terima kasih telah melakukan pendaftaran Deos Virtual Run.<br><br>
        Email :  <b>{{ email }}</b> <br>
        Password aplikasi Anda adalah : <b>{{ password }}</b> (auto generated)
        <br><br>
        Silahkan lakukan pembayaran biaya pendaftaran sejumlah tepat <b>{{nominal_unique}}</b> (termasuk kode unik) ke rekening : <br><br>
        Bank Mandiri<br>
        No. Rekening : <b>006-009-0034-095</b><br>
        Atas Nama <b>PT Bisa Indonesia Sejahtera</b>
        <br><br>
        Kemudian upload bukti transfer Anda melalui link berikut : <br>
        <b><a href='https://pomad2021.deossport.com/konfirmasi.html'>{{link}}</a></b><br><br>
        Setelah pembayaran Anda terverifikasi, kami akan mengirimkan login Aplikasi Mobile Deos Virtual Run ke email Anda yang akan digunakan pada saat mengikuti Event Pomad Virtual Run 2021.
        <br><br>
        Penting :<br> 
        Pastikan alamat yang anda input sudah tepat, karena akan digunakan untuk pengiriman merchandise.<br>
        Jika Anda memerlukan bantuan atau informasi terbaru mengenai event dan aplikasi Deos, silahkan follow Instagram kami <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a>
        <br><br>
        Salam Olah Raga!<br>
        <b>Deos Sport</b>
    </div>
    <br>
    _______________________________________________________
    <br><br>
    <h3 style="color:black;">Hello {{ name }},</h3>
    <div style="color:black;">
        Thank you for registering to Pomad Virtual Run 2021.<br><br>
        Email :  <b>{{ email }}</b> <br>
        Your Deos Apps password is : <b>{{ password }}</b> (auto generated)
        <br><br>
        Please pay registration fee with total amount exactly IDR <b>{{nominal_unique}}</b> (including unique code)  to the following bank account: <br><br>
        Bank Mandiri<br>
        Account Number: <b>006-009-0034-095</b><br>
        Account Name: <b>PT Bisa Indonesia Sejahtera</b>
        <br><br>
        Upon completion of your payment, please upload proof of payment by visiting this link: <br>
        <b><a href='https://pomad2021.deossport.com/konfirmasi.html'>{{link}}</a></b><br><br>
        When your payment has been verified, we will send Deos Virtual Run Mobile App login to your email which will be used when participating in Pomad Virtual Run 2021.
        <br><br>
        Important: <br> 
        Please ensure you have entered your address correctly for receiving the merchandise.<br>
        Follow our Instagram account <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a> to get latest events updates & inquiries.
        <br><br>
        Cheers!<br>
        <b>Deos Sport</b>
    </div>
</body>
</html>