<!DOCTYPE html>
<html>
<head>
    <title>Pendaftaran Berhasil</title>
</head>
<body>
    <h3 style="color:black;">Halo {{ name }},</h3>
    <div style="color:black;">
        Terima kasih telah melakukan pendaftaran Deos Virtual Run.<br><br>
        Detail login Deos Anda adalah sebagai berikut :<br><br>
        Email :  <b>{{ email }}</b> <br>
        Password : <b>{{ password }}</b> <br><br>
        Jika Anda mengalami kesulitan dengan aplikasi kami, silahkan hubungi <b>help@deossport.com</b><br>
        Follow Instagram kami <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a> untuk mendapat informasi event olah raga terbaru.
        <br><br>
        Salam Olah Raga!<br>
        <b>Deos Sport</b>
    </div>
    <br>
    _______________________________________________________
    <br><br>
    <h3 style="color:black;">Hello {{ name }},</h3>
    <div style="color:black;">
        Thank you for registering to Deos Virtual Run.<br><br>
        The following is your Deos login detail: <br><br>
        Email :  <b>{{ email }}</b> <br>
        Password : <b>{{ password }}</b> <br><br>
        If you have any difficulties with our app, please contact help <b>help@deossport.com</b><br>
        Follow our Instagram <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a> to get latest sport events updates.
        <br><br>
        Cheers!<br>
        <b>Deos Sport</b>
    </div>
</body>
</html>