<!DOCTYPE html>
<html>
<head>
    <title>Pendaftaran Berhasil</title>
</head>
<body>
    <h3 style="color:black;">Halo {{ name }},</h3>
    <div style="color:black;">
        Terima kasih telah melakukan pendaftaran Deos Virtual Run.<br><br>
        Email :  <b>{{ email }}</b> <br>
        Password aplikasi Anda adalah : <b>{{ password }}</b> (auto generated)
        <br><br>
        Penting :<br> 
        Pastikan alamat yang anda input sudah tepat, karena akan digunakan untuk pengiriman merchandise.<br>
        Jika Anda memerlukan bantuan atau informasi terbaru mengenai event dan aplikasi Deos, silahkan follow Instagram kami <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a>
        <br><br>
        Salam Olah Raga!<br>
        <b>Deos Sport</b>
    </div>
    <br>
    _______________________________________________________
    <br><br>
    <h3 style="color:black;">Hello {{ name }},</h3>
    <div style="color:black;">
        Thank you for registering to Pomad Virtual Run 2021.<br><br>
        Email :  <b>{{ email }}</b> <br>
        Your Deos Apps password is : <b>{{ password }}</b> (auto generated)
        <br><br>
        Important: <br> 
        Please ensure you have entered your address correctly for receiving the merchandise.<br>
        Follow our Instagram account <a href='https://www.instagram.com/deos.official'><b>@deos.official</b></a> to get latest events updates & inquiries.
        <br><br>
        Cheers!<br>
        <b>Deos Sport</b>
    </div>
</body>
</html>